body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5; /* Fundo claro */
}

.container {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

h1 {
  text-align: center;
  color: #2364AA; /* Cor escura para melhor legibilidade */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); /* Sombra com deslocamento de 2px para direita e para baixo, desfoque de 4px e cor preta com 50% de opacidade */
}


button {
  margin: 2px;
  padding: 15px 15px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: #4267B2; /* Azul do Facebook para os botões */
  position: relative;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #3b5998; /* Cor mais escura para hover */
  transform: scale(1.05);
}

button::before {
  content: '';
  position: absolute;
  top: -30px;
  left: 50%;
  width: 5px;
  height: 30px;
  background-color: #3b5998; /* Azul do Facebook para a linha */
  transform: translateX(-50%);
  z-index: -1;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.link {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  color: #4267B2; /* Azul do Facebook para os links */
  margin: 0 1em;
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover {
  text-decoration: none;
  color: #3b5998; /* Cor mais escura para hover */
}

.clicked {
  color: #0c274a; /* Azul mais intenso para links clicados */
}

.circulo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(circle, #f5f5f5, #e0e0e0, #cccccc); /* Gradiente em tons de cinza */
  border: 3px solid #0c378c; /* Azul do Facebook para a borda */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 
    0 0 0 5px #3b5998, /* Primeira borda adicional */
    0 0 0 7px #3c3893, /* Segunda borda adicional */
    0 20px 20px rgba(0, 0, 0, 0.3); /* Sombra */
}

@media screen and (max-width: 600px) {
  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
